# source
src/
images/

# development
__tests__/
node_modules
vsc-extension-quickstart.md

# config folders
.vscode/
.husky/

# config files
.gitignore
.eslintcache
.prettierrc
.prettierignore
.eslintrc.js
tsconfig.json